.vscode/**
.vscode-test/**
.git/**
.gitignore
.vsc-extension-quickstart.md

node_modules/**
package-lock.json
yarn.lock

.eslintrc.json
.prettierrc
tsconfig.json

# تجاهل كل محتويات مجلد assets
assets/*

# لكن لا تتجاهل ملف الأيقونة تحديداً
!assets/icon.png