.vscode/**
.vscode-test/**
.git/**
.gitignore
.vsc-extension-quickstart.md
src/**

node_modules/**
package-lock.json
yarn.lock

.eslintrc.json
.prettierrc
tsconfig.json

assets/*
!assets/icon.png

!dist/**